body{
    background-color: whitesmoke;
}

ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
}

ul li{
    border: 2px solid white;
    margin: 2rem;
    padding: 1rem;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    width: 500px
}

h1{
    font-size: large;
    
}

h2{
    color: green;
    font-size: medium;
}

p{
    font-size: 1rem;
    color: grey;
}

button{
    background-color: lightskyblue;
    border: 1px solid lightskyblue;
    border-radius: 10px;
    color: white;
    width: 200px;
}