*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    padding:10px;
    font-family:Arial, Helvetica, sans-serif;
    background:white;
}

header{
    height:70px;
    background:#e74c3c;
    color:white;
    font-size:30px;
    display:flex;
    justify-content:center;
    align-items:center;
    border:2px solid #333;
}

main{
    display:grid;
    grid-template-columns:150px 1fr 150px;
    gap:10px;
    margin-top:10px;
}

.p2,.p4{
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    font-size:30px;
    border:2px solid #333;
}

.p2{
    background:#3498db;
}

.p4{
    background:#9b59b6;
}

.content{
    border:2px solid #333;
    padding:15px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    min-height:600px;
}

.s1{
    height:25px;
    background:#f1c40f;
    border:2px solid #333;
    display:flex;
    justify-content:center;
    align-items:center;
}

.bottom{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:10px;
}

.s2,.s3{
    height:25px;
    border:2px solid #333;
    display:flex;
    justify-content:center;
    align-items:center;
}

.s2{
    background:#e67e22;
}

.s3{
    background:#16a085;
}

footer{
    margin-top:10px;
    height:70px;
    background:#2ecc71;
    color:white;
    font-size:30px;
    display:flex;
    justify-content:center;
    align-items:center;
    border:2px solid #333;
}