body{
    background-color: whitesmoke;
}

.slika{
    padding-top: 2rem;
}

.container{
    background-color: white;
    border: 2px solid white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 40rem;
    margin-right: 40rem;
    border-radius: 10px;
    text-align: center;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}

legend{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    margin: 0.5rem;
}

.container,::placeholder{
    color: black;
}

input{
    margin: 0.2rem;
}

button{
    background-color: lightskyblue;
    margin: 1rem;
}