body{
    background-color: whitesmoke;
}

.container{
    background-color: white;
    padding: 1rem;
    text-align: center;
    width: 30%;
    margin: 30px auto;
    border: 1px white solid;
    border-radius: 10px;
    font-family: sans-serif;
}

h1{
    color: darkblue;
}

h2{
    color: gray;
    font-size: 1.1rem;
}