#upute{
    display: none;
}

body{
    background-color: aquamarine;
}

ul{
    list-style-type: none;
    display: flex;
}

ul li{
    padding: 0.5rem;
}

ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.panel{
    padding: 0.8rem;
    text-align: justify;
}

.a{grid-area: a;}
.b{grid-area: b;}
.c{grid-area: c;}
.d{grid-area: d;}

header::after{
    content: 'MOBITEL';
}

@media (min-width: 500px) and (max-width: 799px){
    header::after {
        content: 'TABLET';
    }

    body{
        background-color: violet;
    }

    main{
        display: grid;
        grid-template-areas:
        "a b"
        "c c"
        "d d";
    }
}

@media (min-width: 800px){
    header::after{
        content: 'DESKTOP';
    }

    body{
        background-color: greenyellow;
    }

    main{
        display: grid;
        grid-template-areas: 
        "a b c"
        "d d .";
    }
}

@media print{
    header{
        display: none;
    }

    #upute{
        display: block;
        text-align: center;
    }

    main{
        display: flex;
        flex-direction: column;
    }
}

@media (prefers-color-scheme: dark){
    ul li a{
        background-color: black;
        color: whitesmoke;
    }
}